{% load static %}

<footer class="site-footer style-1" id="footer" style="background-image:url({% static 'archcode/images/background/pattern3.png' %})">
	<div class="footer-top">
		<div class="container">
			<div class="row footer-logo-head spno">
				<div class="col-md-6 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
					<div class="footer-logo">
						<img src="{% static 'archcode/images/logo.png' %}" alt="">
					</div>
				</div>
				<div class="col-md-6 text-md-end aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
					<ul class="social-list style-1">
						<li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
						<li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
						<li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
						<li><a href="javascript:void(0);"><i class="fab fa-youtube"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-6 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
					<div class="widget widget_gallery me-0 me-lg-5">
						<ul class="lightgallery">
							<li>
								<div class="dlab-post-thum dlab-img-effect">
									<span data-exthumbimage="{% static 'archcode/images/services/pic1.jpg' %}" data-src="{% static 'archcode/images/services/pic1.jpg' %}" class="lightimg" title="Image 1 Title will come here">		
										<img src="{% static 'archcode/images/services/pic1.jpg' %}" alt=""> 
									</span>
								</div>
							</li>
							<li>
								<div class="dlab-post-thum dlab-img-effect">
									<span data-exthumbimage="{% static 'archcode/images/services/pic2.jpg' %}" data-src="{% static 'archcode/images/services/pic2.jpg' %}" class="lightimg" title="Image 2 Title will come here">		
										<img src="{% static 'archcode/images/services/pic2.jpg' %}" alt=""> 
									</span>
								</div>
							</li>
							<li>
								<div class="dlab-post-thum dlab-img-effect">
									<span data-exthumbimage="{% static 'archcode/images/services/pic3.jpg' %}" data-src="{% static 'archcode/images/services/pic3.jpg' %}" class="lightimg" title="Image 3 Title will come here">		
										<img src="{% static 'archcode/images/services/pic3.jpg' %}" alt=""> 
									</span>
								</div>
							</li>
							<li>
								<div class="dlab-post-thum dlab-img-effect">
									<span data-exthumbimage="{% static 'archcode/images/services/pic4.jpg' %}" data-src="{% static 'archcode/images/services/pic4.jpg' %}" class="lightimg" title="Image 4 Title will come here">		
										<img src="{% static 'archcode/images/services/pic4.jpg' %}" alt=""> 
									</span>
								</div>
							</li>
							<li>
								<div class="dlab-post-thum dlab-img-effect">
									<span data-exthumbimage="{% static 'archcode/images/services/pic5.jpg' %}" data-src="{% static 'archcode/images/services/pic5.jpg' %}" class="lightimg" title="Image 5 Title will come here">		
										<img src="{% static 'archcode/images/services/pic5.jpg' %}" alt=""> 
									</span>
								</div>
							</li>
							<li>
								<div class="dlab-post-thum dlab-img-effect">
									<span data-exthumbimage="{% static 'archcode/images/services/pic6.jpg' %}" data-src="{% static 'archcode/images/services/pic6.jpg' %}" class="lightimg" title="Image 6 Title will come here">		
										<img src="{% static 'archcode/images/services/pic6.jpg' %}" alt=""> 
									</span>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800">
					<div class="widget widget_categories">
						<div class="widget-title">
							<h4 class="title">Our Links</h4>
							<div class="dz-separator style-1 text-primary mb-0"></div>
						</div>
						<ul class="list-2">
							<li class="cat-item"><a href="{% url 'archcode:index' %}">Home</a></li>                                         
							<li class="cat-item"><a href="{% url 'archcode:about-us' %}">About Us</a></li>                                         
							<li class="cat-item"><a href="{% url 'archcode:portfolio' %}">Portfolio</a></li>                                         
							<li class="cat-item"><a href="{% url 'archcode:services' %}">Services</a></li>                                         
							<li class="cat-item"><a href="{% url 'archcode:team' %}">Team</a></li> 
							<li class="cat-item"><a href="{% url 'archcode:blog-grid' %}">News</a></li> 
							<li class="cat-item"><a href="{% url 'archcode:about-us' %}">FAQ</a></li> 
							<li class="cat-item"><a href="{% url 'archcode:about-us' %}">History</a></li> 
							<li class="cat-item"><a href="{% url 'archcode:contact-us' %}">Support</a></li> 
							<li class="cat-item"><a href="{% url 'archcode:about-us' %}">Company</a></li> 
							<li class="cat-item"><a href="{% url 'archcode:contact-us' %}">Contact Us</a></li> 
						</ul>
					</div>
				</div>
				<div class="col-md-6 col-lg-3 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">
					<div class="widget widget_getintuch">
						<div class="widget-title">
							<h4 class="title">Contact Us</h4>
							<div class="dz-separator style-1 text-primary mb-0"></div>
						</div>
						<ul>
							<li><i class="flaticon-telephone"></i><h5>Phone Number</h5> +01 123 456 7890</li>
							<li><i class="flaticon-email"></i><h5>Email Address</h5>info@supports.com</li>
							<li><i class="flaticon-maps-and-location"></i><h5>Office Address</h5>15 Miranda House, New York</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Bottom -->
	<div class="footer-bottom">
		<div class="container">
			<div class="row align-items-center fb-inner spno">
				<div class="col-lg-6 col-md-12 text-start"> 
					<span class="copyright-text">Copyright © 2024 <a href="https://dexignzone.com/" class="text-primary" target="_blank">DexignZone</a> All rights reserved.</span>
				</div>
				<div class="col-lg-6 col-md-12 text-end"> 
					<ul class="footer-link d-inline-block">
						<li><a href="javascript:void(0);">Privacy Policy</a></li>
						<li><a href="javascript:void(0);">Team &amp; Condition</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>