{% extends 'archcode/elements/layouts/layout-2.html' %}
{% load static %}
        
{% block additional_css %}
{% endblock %}
		
{% block content %}	
<!-- Slider -->
<div class="silder-two">
	<div class="swiper-container pagination-style1 main-silder-swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="dz-slide-item">
					<div class="silder-content" data-swiper-parallax="-40%">
						<div class="inner-content">
							<h1 class="title">Beautiful House In The  <span class="text-primary">Best place</span></h1>
							<p class="m-b30">Duis feugiat est tincidunt ligula maximus convallis. Aenean ultricies, mi non vestibulum auctor, erat tortor porttitor ipsum, nec dictum tortor sem eget nunc.</p>
							<a href="{% url 'archcode:about-us' %}" class="btn shadow-primary m-r30 btn-primary">Browse Project</a>
							<a href="{% url 'archcode:contact-us' %}" class="btn btn-outline-primary shadow-none">Contact Us</a>
						</div>
					</div>
					<div class="slider-img video-bx style-1" data-swiper-parallax-y="-40%" data-swiper-parallax-x="20%" data-swiper-parallax-opacity="0">
						<img src="{% static 'archcode/images/main-slider/pic1.jpg' %}" alt=""/>
						<div class="video-btn aos-item" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="200">
							<a href="https://www.youtube.com/watch?v=b95ZyCes95A" class="popup-youtube"><i class="fa fa-play"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="dz-slide-item">
					<div class="silder-content" data-swiper-parallax="-40%">
						<div class="inner-content">
							<h1 class="title">Interior Design <span class="text-primary">For Solutions</span></h1>
							<p class="m-b30">Duis feugiat est tincidunt ligula maximus convallis. Aenean ultricies, mi non vestibulum auctor, erat tortor porttitor ipsum, nec dictum tortor sem eget nunc. Etiam sed facilisis erat. </p>
							<a href="{% url 'archcode:about-us' %}" class="btn shadow-primary m-r30 btn-primary">Browse Project</a>
							<a href="{% url 'archcode:contact-us' %}" class="btn btn-outline-primary shadow-none">Contact Us</a>
						</div>
					</div>
					<div class="slider-img video-bx style-1" data-swiper-parallax-y="-40%" data-swiper-parallax-x="20%" data-swiper-parallax-opacity="0">
						<img src="{% static 'archcode/images/main-slider/pic2.jpg' %}" alt=""/>
						<div class="video-btn aos-item" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="200">
							<a href="https://www.youtube.com/watch?v=b95ZyCes95A" class="popup-youtube"><i class="fa fa-play"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="dz-slide-item">
					<div class="silder-content" data-swiper-parallax="-40%">
						<div class="inner-content">
							<h1 class="title">Experience Design <span class="text-primary">With Comfort</span></h1>
							<p class="m-b30">Duis feugiat est tincidunt ligula maximus convallis. Aenean ultricies, mi non vestibulum auctor, erat tortor porttitor ipsum, nec dictum tortor sem eget nunc. Etiam sed facilisis erat. </p>
							<a href="{% url 'archcode:about-us' %}" class="btn shadow-primary m-r30 btn-primary">Browse Project</a>
							<a href="{% url 'archcode:contact-us' %}" class="btn btn-outline-primary shadow-none">Contact Us</a>
						</div>
					</div>
					<div class="slider-img video-bx style-1" data-swiper-parallax-y="-40%" data-swiper-parallax-x="20%" data-swiper-parallax-opacity="0">
						<img src="{% static 'archcode/images/main-slider/pic3.jpg' %}" alt=""/>
						<div class="video-btn aos-item" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="200">
							<a href="https://www.youtube.com/watch?v=b95ZyCes95A" class="popup-youtube"><i class="fa fa-play"></i></a>
						</div>								
					</div>
				</div>
			</div>
		</div>
		<div class="slider-two-pagination">
			<!-- Add Navigation -->
			<div class="swiper-pagination"></div>
		</div>
	</div>
</div>
		
<!-- About Us -->
<section class="content-inner">
	<div class="container">
		<div class="row align-items-center about-bx2">
			<div class="col-xl-5 col-lg-6 m-lg-b30 aos-item aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
				<div class="dz-media about-media">
					<img src="{% static 'archcode/images/about/about2.jpg' %}" alt="" class="aos-item" data-aos="fade-down" data-aos-duration="800" data-aos-delay="400">
					<div class="year-exp aos-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">
						<h2 class="year text-primary">25</h2>
						<h4 class="text">Years Of<br/>Experience</h4>
					</div>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 offset-xl-1 m-b15 aos-item" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="600">
				<div class="section-head style-2">
					<h6 class="text-primary sub-title">About Us</h6>
					<h2 class="title">We Can Creat More Than You Expect</h2>
				</div>
				
				<ul class="nav nav-tabs nav-tabs1 m-b30" id="myTab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Our Mission</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Our Vision</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Our Goal</button>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
						<div class="row align-items-center">
							<div class="col-sm-4 m-b30 m-sm-b15">
								<div class="dz-media">
									<img src="{% static 'archcode/images/about/pic1.jpg' %}" alt="">
								</div>
							</div>
							<div class="col-sm-8 m-b30">
								<p class="m-b0">Curabitur nunc neque, egestas ac vestibulum ac, tincidunt quis justo. Etiam sodales accumsan orci euismod molestie.quis, commodo vel libero. Donec laoreet purus justo. </p>
							</div>
						</div>
						<ul class="list-square-check grid-2">
							<li>Pellentes habitant morbi</li>
							<li>Aliquam pellentesq vitae</li>
							<li>Purus eget posuer fringilla</li>
							<li>Nulla massa erat</li>
						</ul>
					</div>
					<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
						<div class="row align-items-center">
							<div class="col-sm-4 m-b30 m-sm-b15">
								<div class="dz-media">
									<img src="{% static 'archcode/images/about/pic1.jpg' %}" alt="">
								</div>
							</div>
							<div class="col-sm-8 m-b30">
								<p class="m-b0">Curabitur nunc neque, egestas ac vestibulum ac, tincidunt quis justo. Etiam sodales accumsan orci euismod molestie.quis, commodo vel libero. Donec laoreet purus justo. </p>
							</div>
						</div>
						<ul class="list-square-check grid-2">
							<li>Pellentes habitant morbi</li>
							<li>Aliquam pellentesq vitae</li>
							<li>Purus eget posuer fringilla</li>
							<li>Nulla massa erat</li>
						</ul>
					</div>
					<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
						<div class="row align-items-center">
							<div class="col-sm-4 m-b30 m-sm-b15">
								<div class="dz-media">
									<img src="{% static 'archcode/images/about/pic1.jpg' %}" alt="">
								</div>
							</div>
							<div class="col-sm-8 m-b30">
								<p class="m-b0">Curabitur nunc neque, egestas ac vestibulum ac, tincidunt quis justo. Etiam sodales accumsan orci euismod molestie.quis, commodo vel libero. Donec laoreet purus justo. </p>
							</div>
						</div>
						<ul class="list-square-check grid-2">
							<li>Pellentes habitant morbi</li>
							<li>Aliquam pellentesq vitae</li>
							<li>Purus eget posuer fringilla</li>
							<li>Nulla massa erat</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- About Us -->

<!-- Our Features -->
<section class="content-inner-2 bg-gray" style="background-image:url({% static 'archcode/images/background/pattern3.png' %})">
	<div class="container">
		<div class="section-head style-2 text-center">
			<h6 class="text-primary sub-title">Our Services</h6>
			<h2 class="title">What We Provide</h2>
		</div>
		<div class="row m-b50 m-md-b10">
			<div class="col-lg-4 col-md-6 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
				<div class="icon-bx-wraper style-3 left m-b50">
					<div class="icon-bx-sm text-primary radius shadow icon-bx">
						<i class="flaticon-blueprint-1"></i> 
					</div>
					<div class="icon-content">
						<h4 class="title m-b10">Floor Plan Design</h4>
						<p>Morbi sagittis pellentesque venenatis. Fusce consectetur tortor at ante varius porta.</p>
						<a href="{% url 'archcode:services-details' %}" class="btn-link">Read More <i class="fa fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
				<div class="icon-bx-wraper style-3 left m-b50">
					<div class="icon-bx-sm text-primary radius shadow icon-bx">
						<i class="flaticon-furniture"></i> 
					</div>
					<div class="icon-content">
						<h4 class="title m-b10">Furniture  Production</h4>
						<p>Morbi sagittis pellentesque venenatis. Fusce consectetur tortor at ante varius porta.</p>
						<a href="{% url 'archcode:services-details' %}" class="btn-link">Read More <i class="fa fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
				<div class="icon-bx-wraper style-3 left m-b50">
					<div class="icon-bx-sm text-primary radius shadow icon-bx">
						<i class="flaticon-crane"></i> 
					</div>
					<div class="icon-content">
						<h4 class="title m-b10">Construction Work</h4>
						<p>Morbi sagittis pellentesque venenatis. Fusce consectetur tortor at ante varius porta.</p>
						<a href="{% url 'archcode:services-details' %}" class="btn-link">Read More <i class="fa fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800">
				<div class="icon-bx-wraper style-3 left m-b50">
					<div class="icon-bx-sm text-primary radius shadow icon-bx">
						<i class="flaticon-home"></i> 
					</div>
					<div class="icon-content">
						<h4 class="title m-b10">Architecture Design</h4>
						<p>Morbi sagittis pellentesque venenatis. Fusce consectetur tortor at ante varius porta.</p>
						<a href="{% url 'archcode:services-details' %}" class="btn-link">Read More <i class="fa fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000">
				<div class="icon-bx-wraper style-3 left m-b50">
					<div class="icon-bx-sm text-primary radius shadow icon-bx">
						<i class="flaticon-interior-design-1"></i> 
					</div>
					<div class="icon-content">
						<h4 class="title m-b10">Interior Designing</h4>
						<p>Morbi sagittis pellentesque venenatis. Fusce consectetur tortor at ante varius porta.</p>
						<a href="{% url 'archcode:services-details' %}" class="btn-link">Read More <i class="fa fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1200">
				<div class="icon-bx-wraper style-3 left m-b50">
					<div class="icon-bx-sm text-primary radius shadow icon-bx">
						<i class="flaticon-support"></i> 
					</div>
					<div class="icon-content">
						<h4 class="title m-b10">24X7 Support</h4>
						<p>Morbi sagittis pellentesque venenatis. Fusce consectetur tortor at ante varius porta.</p>
						<a href="{% url 'archcode:services-details' %}" class="btn-link">Read More <i class="fa fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
		</div>				
	</div>
	<div class="counter-area1 half-bg">
		<div class="container">
			<div class="counter-inner bg-primary">
				<div class="row">
					<div class="col-lg-3 col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">
						<div class="icon-bx-wraper style-6 m-b30" data-name="789">
							<h2 class="counter">789</h2>
							<h6 class="title">Squre Area<br/>Complex</h6>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
						<div class="icon-bx-wraper style-6 m-b30" data-name="158">
							<h2 class="counter">158</h2>
							<h6 class="title">Happy<br/>Clients</h6>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="600">
						<div class="icon-bx-wraper style-6 m-b30" data-name="874">
							<h2 class="counter">874</h2>
							<h6 class="title">Completed<br/>Projects</h6>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="800" data-aos-delay="800">
						<div class="icon-bx-wraper style-6 m-b30" data-name="987">
							<h2 class="counter">987</h2>
							<h6 class="title">Cup Of<br/>Coffee</h6>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Testimonials -->
<section class="content-inner">
	<div class="container">
		<div class="row ">
			<div class="col-md-12">
				<div class="section-head style-2 text-center">
					<h6 class="text-primary sub-title">Testimonial</h6>
					<h2 class="title">What Our Client Say’s</h2>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 m-b20">
				<div class="swiper-container pagination-style1 testimonial-swiper2">
					<div class="swiper-wrapper">
						<div class="swiper-slide aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
							<div class="testimonial-2">
								<div class="testimonial-pic">
									<img src="{% static 'archcode/images/testimonials/large/pic1.jpg' %}" alt="">
								</div>
								<div class="testimonial-info">
									<div class="testimonial-review">
										<ul class="star-rating text-primary">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
										</ul>
									</div>
									<div class="testimonial-text">
										<p>“ Donec tincidunt hendrerit lorem id semper. Fusce bibendum turpis diam, eu varius orci sagittis aecenas arcu “.</p>
									</div>
									<div class="info">
										<h5 class="testimonial-name">Rosalina Doe</h5> 
										<span class="testimonial-position text-primary">Designer</span> 
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
							<div class="testimonial-2">
								<div class="testimonial-pic">
									<img src="{% static 'archcode/images/testimonials/large/pic2.jpg' %}" alt="">
								</div>
								<div class="testimonial-info">
									<div class="testimonial-review">
										<ul class="star-rating text-primary">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
										</ul>
									</div>
									<div class="testimonial-text">
										<p>“ Donec tincidunt hendrerit lorem id semper. Fusce bibendum turpis diam, eu varius orci sagittis aecenas arcu “.</p>
									</div>
									<div class="info">
										<h5 class="testimonial-name">Caroline</h5> 
										<span class="testimonial-position text-primary">CEO Founder</span> 
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
							<div class="testimonial-2">
								<div class="testimonial-pic">
									<img src="{% static 'archcode/images/testimonials/large/pic3.jpg' %}" alt="">
								</div>
								<div class="testimonial-info">
									<div class="testimonial-review">
										<ul class="star-rating text-primary">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
										</ul>
									</div>
									<div class="testimonial-text">
										<p>“ Donec tincidunt hendrerit lorem id semper. Fusce bibendum turpis diam, eu varius orci sagittis aecenas arcu “.</p>
									</div>
									<div class="info">
										<h5 class="testimonial-name">Kimberly</h5> 
										<span class="testimonial-position text-primary">Web Developer</span> 
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800">
							<div class="testimonial-2">
								<div class="testimonial-pic">
									<img src="{% static 'archcode/images/testimonials/large/pic4.jpg' %}" alt="">
								</div>
								<div class="testimonial-info">
									<div class="testimonial-review">
										<ul class="star-rating text-primary">
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
											<li><i class="fa fa-star"></i></li>
										</ul>
									</div>
									<div class="testimonial-text">
										<p>“ Donec tincidunt hendrerit lorem id semper. Fusce bibendum turpis diam, eu varius orci sagittis aecenas arcu “.</p>
									</div>
									<div class="info">
										<h5 class="testimonial-name">Ginger Plantq</h5> 
										<span class="testimonial-position text-primary">CEO Founder</span> 
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Add Navigation -->
					<div class="swiper-pagination1  text-center"></div>
				</div>
			</div>
		</div>
	</div>
</section>		

<!-- Our Portfolio -->
<section class="content-inner-2 bg-gray portfolio-area2" style="background-image:url({% static 'archcode/images/background/pattern3.png' %})">
	<div class="container">
		<div class="row align-items-center section-head-bx">
			<div class="col-md-8">
				<div class="section-head style-2">
					<h6 class="text-primary sub-title">Our Portfolio</h6>
					<h2 class="title">See Our Latest Work</h2>
				</div>
			</div>
			<div class="col-md-4 text-end">
				<div class="portfolio-pagination d-inline-block mb-5">
					<div class="btn-prev swiper-button-prev2"><i class="las la-arrow-left"></i></div>
					<div class="btn-next swiper-button-next2"><i class="las la-arrow-right"></i></div>
				</div>
			</div>
		</div>
	</div>
	<div class="setResizeMargin">
		<div class="swiper-container swiper-portfolio lightgallery aos-item" data-aos="fade-in" data-aos-duration="1000" data-aos-delay="400">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="dz-box overlay style-2">
						<div class="dz-media">
							<img src="{% static 'archcode/images/work/pic-1.jpg' %}" alt="">
						</div>
						<div class="dz-info">
							<span data-exthumbimage="{% static 'archcode/images/work/pic-1.jpg' %}" data-src="{% static 'archcode/images/work/pic-1.jpg' %}" class="view-btn lightimg" title="INTERIOR DESIGN"></span>
							<h6 class="sub-title">INTERIOR DESIGN</h6>
							<div class="port-info">
								<div class="dz-meta">
									<ul>
										<li class="post-date">7 March 2022</li>
										<li class="post-user">By <a href="javascript:void(0);">John Doe</a></li>
									</ul>
								</div>
								<h2 class="title m-b15"><a href="{% url 'archcode:portfolio-details' %}">Modern House Interior <span>New York</span></a></h2>
							</div>
						</div>
					</div>
				</div>	
				<div class="swiper-slide">
					<div class="dz-box overlay style-2">
						<div class="dz-media">
							<img src="{% static 'archcode/images/work/pic-2.jpg' %}" alt="">
						</div>
						<div class="dz-info">
							<span data-exthumbimage="{% static 'archcode/images/work/pic-2.jpg' %}" data-src="{% static 'archcode/images/work/pic-2.jpg' %}" class="view-btn lightimg" title="ARCHITECTURAL"></span>
							<h6 class="sub-title">ARCHITECTURAL</h6>
							<div class="port-info">
								<div class="dz-meta">
									<ul>
										<li class="post-date">23 Feb 2022</li>
										<li class="post-user">By <a href="javascript:void(0);">John Doe</a></li>
									</ul>
								</div>
								<h2 class="title m-b15"><a href="{% url 'archcode:portfolio-details' %}">Sample Hotel Art, <span>India</span></a></h2>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="dz-box overlay style-2">
						<div class="dz-media">
							<img src="{% static 'archcode/images/work/pic-3.jpg' %}" alt="">
						</div>
						<div class="dz-info">
							<span data-exthumbimage="{% static 'archcode/images/work/pic-3.jpg' %}" data-src="{% static 'archcode/images/work/pic-3.jpg' %}" class="view-btn lightimg" title="INTERIOR DESIGN"></span>
							<h6 class="sub-title">CONSTRUCTION</h6>
							<div class="port-info">
								<div class="dz-meta">
									<ul>
										<li class="post-date">24 June 2022</li>
										<li class="post-user">By <a href="javascript:void(0);">John Doe</a></li>
									</ul>
								</div>
								<h2 class="title m-b15"><a href="{% url 'archcode:portfolio-details' %}">Modern Family House,  <span>Italy</span></a></h2>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>	
	</div>	
</section>

<!-- Our Pricing -->
<section class="content-inner">
	<div class="container">
		<div class="section-head style-2 text-center">
			<h6 class="text-primary sub-title">Our Pricing</h6>
			<h2 class="title">Our Price & Plans</h2>
		</div>
		<div class="row pricingtable-wraper-1 justify-content-center">
			<div class="col-lg-4 col-md-6 m-b30 aos-item aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
				<div class="pricingtable-wrapper style-1">
					<div class="pricingtable-inner">
						<div class="pricingtable-head" style="background-image: url({% static 'archcode/images/table/pic1.jpg' %});">
							<div class="pricingtable-title">
								<h6 class="title">Basic</h6>
							</div>
						</div>
						<ul class="pricingtable-features">
							<li>Planning Solution </li>
							<li>10 Construction Drawings</li>
							<li>Selection Of Materials</li>
							<li>3d Visualization</li>
							<li>Unlimeted Revision</li>
						</ul>
						<div class="pricingtable-footer"> 
							<p class="text">Quisque pretium ligula lectus, id sagittis odio accumsan ac.</p>
							<div class="pricingtable-price"> 
								<h2 class="pricingtable-bx">$49<small>/Month</small></h2>
							</div>
							<a href="{% url 'archcode:contact-us' %}" class="btn btn-outline-primary shadow-none">Join Now</a> 
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-b30 aos-item aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
				<div class="pricingtable-wrapper style-1 active center">
					<div class="pricingtable-inner">
						<div class="pricingtable-head" style="background-image: url({% static 'archcode/images/table/pic2.jpg' %});">
							<div class="pricingtable-title">
								<h6 class="title">Standard</h6>
							</div>
						</div>
						<ul class="pricingtable-features">
							<li>Planning Solution </li>
							<li>10 Construction Drawings</li>
							<li>Selection Of Materials</li>
							<li>3d Visualization</li>
							<li>Unlimeted Revision</li>
						</ul>
						<div class="pricingtable-footer">
							<p class="text">Aliquam dui lacus, lobortis quis sapien non.</p>
							<div class="pricingtable-price"> 
								<h2 class="pricingtable-bx">$59<small>/Month</small></h2>
							</div>
							<a href="{% url 'archcode:contact-us' %}" class="btn btn-outline-primary shadow-none">Join Now</a> 
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-b30 aos-item aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800">
				<div class="pricingtable-wrapper style-1 ">
					<div class="pricingtable-inner">
						<div class="pricingtable-head" style="background-image: url({% static 'archcode/images/table/pic3.jpg' %});">
							<div class="pricingtable-title">
								<h6 class="title">Advanced</h6>
							</div>
						</div>
						<ul class="pricingtable-features">
							<li>Planning Solution </li>
							<li>10 Construction Drawings</li>
							<li>Selection Of Materials</li>
							<li>3d Visualization</li>
							<li>Unlimeted Revision</li>
						</ul>
						<div class="pricingtable-footer"> 
							<p class="text">Aliquam dui lacus, lobortis quis sapien non.</p>
							<div class="pricingtable-price"> 
								<h2 class="pricingtable-bx">$69<small>/Month</small></h2>
							</div>
							<a href="{% url 'archcode:contact-us' %}" class="btn btn-outline-primary shadow-none">Join Now</a> 
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Core Features -->
<section class="content-inner bg-gray" style="background-image:url({% static 'archcode/images/background/pattern3.png' %})">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 m-b30 aos-item aos-init aos-animate" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="600">
				<div class="dz-media rounded">
					<img src="{% static 'archcode/images/about/pic2.jpg' %}" alt="">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="section-head style-2">
					<h6 class="text-primary sub-title">Core Features</h6>
					<h2 class="title">Excellent Definitions Architecture</h2>
				</div>
				<p class="m-b30">Vestibulum ac magna luctus, egestas eros vel, tempor eros. Duis posuere facilisis fringilla. Donec pellentesque fringilla maximus. Etiam rhoncus sit amet odio nec euismod nunc maximus, diam ac tempus mollis.</p>
				<div class="row justify-content-center">
					<div class="col-sm-4 col-6 aos-item aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
						<div class="icon-bx-wraper style-3 m-b30 text-center">
							<div class="icon-bx-sm text-primary radius shadow m-b10 icon-bx">
								<i class="flaticon-blueprint"></i> 
							</div>
							<div class="icon-content">
								<h6 class="title m-b0">Minimal Design</h6>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-6 aos-item aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
						<div class="icon-bx-wraper style-3 m-b30 text-center">
							<div class="icon-bx-sm text-primary radius shadow m-b10 icon-bx">
								<i class="flaticon-support"></i> 
							</div>
							<div class="icon-content">
								<h6 class="title m-b0">Online Support</h6>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-6 aos-item aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800">
						<div class="icon-bx-wraper style-3 m-b30 text-center">
							<div class="icon-bx-sm text-primary radius shadow m-b10 icon-bx">
								<i class="flaticon-project-management"></i> 
							</div>
							<div class="icon-content">
								<h6 class="title m-b0">Best Security</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>	
</section>

<!-- Team -->
<section class="content-inner-1">
	<div class="container">
		<div class="section-head style-2 text-center">
			<h6 class="text-primary sub-title">Our Team</h6>
			<h2 class="title">Our Creative Expertise</h2>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="swiper-container team-swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="dz-team style-2 text-center overlay-shine aos-item" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200">
								<div class="dz-media">
									<a href="javascript:void(0);"><img src="{% static 'archcode/images/team/pic1.jpg' %}" alt=""></a>
									<ul class="team-social">
										<li class="share"><i class="flaticon-plus"></i></li>
										<li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
									</ul>
								</div>
								<div class="dz-content m-t20">
									<h4 class="dz-name"><a href="javascript:void(0);">Andrey Carol</a></h4>
									<h6 class="dz-position text-primary">Director</h6>
								</div>
							</div>
						</div>	
						<div class="swiper-slide">
							<div class="dz-team style-2 text-center overlay-shine aos-item" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="400">
								<div class="dz-media">
									<a href="javascript:void(0);"><img src="{% static 'archcode/images/team/pic2.jpg' %}" alt=""></a>
									<ul class="team-social">
										<li class="share"><i class="flaticon-plus"></i></li>
										<li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
									</ul>
								</div>
								<div class="dz-content m-t20">
									<h4 class="dz-name"><a href="javascript:void(0);">Rebecca Ruth</a></h4>
									<h6 class="dz-position text-primary">Director</h6>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="dz-team style-2 text-center overlay-shine aos-item" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="600">
								<div class="dz-media">
									<a href="javascript:void(0);"><img src="{% static 'archcode/images/team/pic3.jpg' %}" alt=""></a>
									<ul class="team-social">
										<li class="share"><i class="flaticon-plus"></i></li>
										<li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
									</ul>
								</div>
								<div class="dz-content m-t20">
									<h4 class="dz-name"><a href="javascript:void(0);">Austin Doe</a></h4>
									<h6 class="dz-position text-primary">Director</h6>
								</div>
							</div>
						</div>	
						<div class="swiper-slide">
							<div class="dz-team style-2 text-center overlay-shine aos-item" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="800">
								<div class="dz-media">
									<a href="javascript:void(0);"><img src="{% static 'archcode/images/team/pic4.jpg' %}" alt=""></a>
									<ul class="team-social">
										<li class="share"><i class="flaticon-plus"></i></li>
										<li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
									</ul>
								</div>
								<div class="dz-content m-t20">
									<h4 class="dz-name"><a href="javascript:void(0);">Lala Rose</a></h4>
									<h6 class="dz-position text-primary">Director</h6>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="dz-team style-2 text-center overlay-shine aos-item" data-aos="fade-up" data-aos-duration="1500" data-aos-delay="200">
								<div class="dz-media">
									<a href="javascript:void(0);"><img src="{% static 'archcode/images/team/pic2.jpg' %}" alt=""></a>
									<ul class="team-social">
										<li class="share"><i class="flaticon-plus"></i></li>
										<li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
										<li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
									</ul>
								</div>
								<div class="dz-content m-t20">
									<h4 class="dz-name"><a href="javascript:void(0);">Andrey Carol</a></h4>
									<h6 class="dz-position text-primary">Director</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Content Box -->
<section class="bg-white">
	<div class="container">
		<div class="contact-area2 bg-dark aos-item aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600" style="background-image:url({% static 'archcode/images/background/pattern2.png' %});">
			<div class="section-head style-2 text-center">
				<h6 class="text-primary sub-title">Contact Us</h6>
				<h2 class="title text-white">Get In Touch With Us</h2>
			</div>
			<form class="dz-form style-1 dzForm" method="POST" action="script/contact_smtp.php">					
				<div class="dzFormMsg"></div>
				<input type="hidden" class="form-control" name="dzToDo" value="Contact" >
				<input type="hidden" class="form-control" name="reCaptchaEnable" value="0" >						
				<div class="row sp10">
					<div class="col-sm-6 m-b20">
						<div class="input-group">
							<input type="text" class="form-control" name="dzFirstName" placeholder="First Name" required>
						</div>
					</div>
					<div class="col-sm-6 m-b20">
						<div class="input-group">
							<input type="text" class="form-control" name="dzLastName" placeholder="Last Name" required >
						</div>
					</div>
					<div class="col-sm-6 m-b20">
						<div class="input-group">
							<input type="text" class="form-control" name="dzPhoneNumber" placeholder="Phone No." required >
						</div>
					</div>
					<div class="col-sm-6 m-b20">
						<div class="input-group">
							<input type="text" class="form-control" name="dzEmail" placeholder="Email" required >
						</div>
					</div>
					<div class="col-sm-12 m-b20">
						<div class="input-group">
							<textarea name="dzMessage" class="form-control">Message</textarea>
						</div>
					</div>
					<div class="col-sm-12 text-center">
						<button name="submit" type="submit" value="submit" class="btn btn-primary">Submit Now</button>
					</div>
				</div>
			</form>
		</div>
		<div class="row spno">
			<div class="col-lg-4 col-md-6 aos-item aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
				<div class="icon-bx-wraper style-5">
					<div class="icon-md m-r20">
						<span class="icon-cell text-primary"><i class="flaticon-telephone"></i></span> 
					</div>
					<div class="icon-content">
						<h5 class="title m-b0">Phone Number</h5>
						<p class="m-b0">+91 123 456 7890</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 aos-item aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
				<div class="icon-bx-wraper style-5 active">
					<div class="icon-md m-r20">
						<span class="icon-cell text-primary"><i class="flaticon-email"></i></span> 
					</div>
					<div class="icon-content">
						<h5 class="title m-b0">Email Address</h5>
						<p class="m-b0">info@example.com</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-12 aos-item aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
				<div class="icon-bx-wraper style-5">
					<div class="icon-md m-r20">
						<span class="icon-cell text-primary"><i class="flaticon-maps-and-location"></i></span> 
					</div>
					<div class="icon-content">
						<h5 class="title m-b0">Office Location</h5>
						<p class="m-b0">15 Mira House, New York</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Blog -->
<section class="content-inner">
	<div class="container">
		<div class="section-head style-2 text-center">
			<h6 class="text-primary sub-title">Our Blog</h6>
			<h2 class="title">Latest News Feed</h2>
		</div> 
		<div class="row blog-area1 spno">
			<div class="col-lg-4 col-md-6 m-b30">
				<div class="dz-card blog-grid style-2 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
					<div class="dz-media">
						<a href="{% url 'archcode:blog-details' %}"><img src="{% static 'archcode/images/blog/blog-grid-1/pic1.jpg' %}" alt=""></a>
					</div>
					<div class="dz-info text-center">
						<div class="dz-meta">
							<ul>
								<li class="post-date">14 Feb 2022</li>
							</ul>
						</div>
						<h5 class="dz-title"><a href="{% url 'archcode:blog-details' %}">Construction Any Good? 5 Ways You Can Be Certain.</a></h5>
						<div class="dz-post-text text">
							<p>You can align your image to the left, right, or center with a caption, link and alt text New Journey to the.</p>
						</div>
						<a href="{% url 'archcode:blog-details' %}" class="btn-link">Read More <i class="fas fa-arrow-right m-l5"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-b30">
				<div class="dz-card blog-grid style-2 blog-top aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
					<div class="dz-info text-center">
						<div class="dz-meta">
							<ul>
								<li class="post-date">25 March 2022</li>
							</ul>
						</div>
						<h5 class="dz-title"><a href="{% url 'archcode:blog-details' %}">Why You Cannot Learn Construction Well.</a></h5>
						<div class="dz-post-text text">
							<p>You can align your image to the left, right, or center with a caption, link and alt text New Journey to the.</p>
						</div>
						<a href="{% url 'archcode:blog-details' %}" class="btn-link">Read More <i class="fas fa-arrow-right m-l5"></i></a>
					</div>
					<div class="dz-media">
						<a href="{% url 'archcode:blog-details' %}"><img src="{% static 'archcode/images/blog/blog-grid-1/pic2.jpg' %}" alt=""></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 m-b30">
				<div class="dz-card blog-grid style-2 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800">
					<div class="dz-media">
						<a href="{% url 'archcode:blog-details' %}"><img src="{% static 'archcode/images/blog/blog-grid-1/pic3.jpg' %}" alt=""></a>
					</div>
					<div class="dz-info text-center">
						<div class="dz-meta">
							<ul>
								<li class="post-date">7 March 2022</li>
							</ul>
						</div>
						<h5 class="dz-title"><a href="{% url 'archcode:blog-details' %}">Ten Things You Didn’t Know About Construction.</a></h5>
						<div class="dz-post-text text">
							<p>You can align your image to the left, right, or center with a caption, link and alt text New Journey to the.</p>
						</div>
						<a href="{% url 'archcode:blog-details' %}" class="btn-link">Read More <i class="fas fa-arrow-right m-l5"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>		
			
{% endblock %}
