{% extends 'archcode/elements/layouts/layout.html' %}
{% load static %}
        
{% block additional_css %}
{% endblock %}
		
{% block content %}		
<!-- Team -->
<section class="content-inner">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <div class="dz-team style-1 text-center overlay-shine m-b30">
                    <div class="dz-media ">
                        <a href="javascript:void(0);"><img src="{% static 'archcode/images/team/pic1.jpg' %}" alt=""></a>
                        <ul class="team-social">
                            <li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                    <div class="dz-content">
                        <h5 class="dz-name"><a href="javascript:void(0);">Andrey Carol</a></h5>
                        <h6 class="dz-position text-primary">Manager</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                <div class="dz-team style-1 text-center overlay-shine m-b30">
                    <div class="dz-media ">
                        <a href="javascript:void(0);"><img src="{% static 'archcode/images/team/pic2.jpg' %}" alt=""></a>
                        <ul class="team-social">
                            <li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fab fa-youtube"></i></a></li>
                        </ul>

                    </div>
                    <div class="dz-content">
                        <h5 class="dz-name"><a href="javascript:void(0);">Rebecca Ruth</a></h5>
                        <h6 class="dz-position text-primary">Designer</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                <div class="dz-team style-1 text-center overlay-shine m-b30">
                    <div class="dz-media ">
                        <a href="javascript:void(0);"><img src="{% static 'archcode/images/team/pic3.jpg' %}" alt=""></a>
                        <ul class="team-social">
                            <li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fab fa-youtube"></i></a></li>
                        </ul>

                    </div>
                    <div class="dz-content">
                        <h5 class="dz-name"><a href="javascript:void(0);">Austin Doe</a></h5>
                        <h6 class="dz-position text-primary">Director</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800">
                <div class="dz-team style-1 text-center overlay-shine m-b30">
                    <div class="dz-media ">
                        <a href="javascript:void(0);"><img src="{% static 'archcode/images/team/pic4.jpg' %}" alt=""></a>
                        <ul class="team-social">
                            <li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fab fa-youtube"></i></a></li>
                        </ul>

                    </div>
                    <div class="dz-content">
                        <h5 class="dz-name"><a href="javascript:void(0);">Lala Rose</a></h5>
                        <h6 class="dz-position text-primary">Interior Designer</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">
                <div class="dz-team style-1 text-center overlay-shine m-b30">
                    <div class="dz-media ">
                        <a href="javascript:void(0);"><img src="{% static 'archcode/images/team/pic5.jpg' %}" alt=""></a>
                        <ul class="team-social">
                            <li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fab fa-youtube"></i></a></li>
                        </ul>

                    </div>
                    <div class="dz-content">
                        <h5 class="dz-name"><a href="javascript:void(0);">Andrey Carol</a></h5>
                        <h6 class="dz-position text-primary">Manager</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400">
                <div class="dz-team style-1 text-center overlay-shine m-b30">
                    <div class="dz-media ">
                        <a href="javascript:void(0);"><img src="{% static 'archcode/images/team/pic6.jpg' %}" alt=""></a>
                        <ul class="team-social">
                            <li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fab fa-youtube"></i></a></li>
                        </ul>

                    </div>
                    <div class="dz-content">
                        <h5 class="dz-name"><a href="javascript:void(0);">Rebecca Ruth</a></h5>
                        <h6 class="dz-position text-primary">Director</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600">
                <div class="dz-team style-1 text-center overlay-shine m-b30">
                    <div class="dz-media ">
                        <a href="javascript:void(0);"><img src="{% static 'archcode/images/team/pic7.jpg' %}" alt=""></a>
                        <ul class="team-social">
                            <li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fab fa-youtube"></i></a></li>
                        </ul>

                    </div>
                    <div class="dz-content">
                        <h5 class="dz-name"><a href="javascript:void(0);">Austin Doe</a></h5>
                        <h6 class="dz-position text-primary">Architecture</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 aos-item" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800">
                <div class="dz-team style-1 text-center overlay-shine m-b30">
                    <div class="dz-media ">
                        <a href="javascript:void(0);"><img src="{% static 'archcode/images/team/pic8.jpg' %}" alt=""></a>
                        <ul class="team-social">
                            <li><a href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="javascript:void(0);"><i class="fab fa-youtube"></i></a></li>
                        </ul>

                    </div>
                    <div class="dz-content">
                        <h5 class="dz-name"><a href="javascript:void(0);">Lala Rose</a></h5>
                        <h6 class="dz-position text-primary">Designer</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
		

	

	
